* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.modal {
  position: absolute;
  background-color: #fff;
  width: 70%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  transition: all 0.5s ease-in-out;

  .modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

    .modal_title {
      padding-left: 15px;
      font-size: 18px;
    }

    .modal_close {
      font-size: 18px;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}

.modal_open_btn {
  background: #f3f3f3;
  padding: 18px 25px;
  border-radius: 25px;
  border: 0;
  box-shadow: 0 2px 4px rgb(82, 82, 82);
  cursor: pointer;
  font-size: 22px;

  &:hover {
    box-shadow: 0 4px 8px rgb(145, 145, 145);
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 0 1px 2px rgb(145, 145, 145);
    transform: translateY(0px);
  }
}
